.image__contentitem{
   position:relative;
}
.image__overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.image img{
  height:100%;
}
.text{
  line-height: 1.5;
  font-family: Ovo, serif;
}
.image-title{
  font-size:35px;
}
.image-button{
  border-color:none;
  padding: 10px 60px;
  font-weight:600;
  font-size:10px;
  color:black;
}
.max-width{
  max-width:400px;
  margin-left: 30px;
  margin-bottom:50px;
}

@media only screen and (min-width:990px)  {
  .image-caption{
    font-weight:600;
    font-size:12px;
  }
  .image-title{
    font-size:56px;
  }
  .max-width{
    max-width:550px;
    margin-left:-40px;
  }
  .image-button{
    border-color:none;
    padding: 20px 70px;
    font-weight:600;
    font-size:12px;
    color:black;
  }
  .images img{
      height:65vh;
      object-fit:cover;
  }
  .text{
    line-height: 1.5;
    font-family: Ovo, serif;
  }
}


    
.text--loading-effect{
  animation: text-loading 0.4s ease 0s;
  animation-fill-mode:forwards;
  transform:translateY(30px);
  opacity:0;
}
@keyframes text-loading{
  0%{
    transform:translateY(30px);
    opacity:0;
  }
  100%{
    transform:translateY(0px);
    opacity:1;
  }
}