.flexbox {
  display:flex;
  flex-direction:column;
}
.flexbox-item{
  margin:0 auto;
  padding-top:6px;
  padding-bottom:6px;
}
.usp-item__logos {
    width: 20px;
    height: 10px;
    margin: 10px auto;
  }
@media screen and (min-width: 990px) {
  .usp-item__logos {
    width: 20px;
    height: 15px;
    margin: 15px auto;
  }
  .flexbox-item{
     margin:0 auto;
     padding-top:80px;
     padding-bottom:80px;
  }
  .flexbox {
    display:flex;
    flex-direction:row;
  }
}

